/* alinecion del texto vertical, horizontal y color*/
.preguntas_frecuentes{
    color: black;
    margin: 5px;
    padding: 30px;
}

/* alineacion de titulo preguntas frecuentes*/

.preguntas_frecuentes2{
    text-align: center;
    text-decoration: underline;
    padding: 25px;
}